.order-details-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    width: 90vw;
    margin-left: 50px;
}

.ingredient-buttons-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.ingredient-button {
    transition-duration: 0.4s;
}
  
.ingredient-button:hover {
    background-color: #4CAF50;
    color: white;
}